body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.app {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
button {
  padding: 10px 16px;
  font-size: 16px;
  margin-top: 10px;
  cursor: pointer;
}
